@media (max-width: 1201px)
  .main
    &__cont
      height: 760px

    &__img
      background-size: 500px


@media (max-width: 590px)
  .main
    .container
      padding: 0

    &__cont
      height: 640px
      min-height: auto
      padding: 80px 0 0
      background-position: top center
      position: relative

    &__img
      background-size: 460px

@media (max-width: 481px)
  .main
    &__cont
      height: 680px
      padding: 0

    &__img
      background-size: 440px

@media (max-width: 360px)
  .main
    &__cont
      height: 600px
      padding: 0

    &__img
      background-size: 380px
