section#prices.prices
  .container
    .prices__cont
      h2.prices__title Цены

      .prices__item
        span.prices__subtitle Пластика лица
        .table-wrapper
          table.prices-table
            thead
              tr
                th Наименование
                th Цена
            tbody
              tr
                td SMAS-лифтинг
                td от 350 000
              tr
                td Подтяжка лба
                td от 230 000
              tr
                td Эндоскопический лифтинг верхней трети лица
                td от 250 000
              tr
                td Верхняя блефаропластика
                td от 70 000
              tr
                td Нижняя блефаропластика
                td от 70 000
              tr
                td Булхорн
                td 90 000
              tr
                td Пластика подбородка
                td от 250 000
              tr
                td Удаление комков Биша
                td 90 000
              tr
                td Липофилинг лица
                td от 150 000

      .prices__item
        span.prices__subtitle Пластика груди
        .table-wrapper
          table.prices-table
            thead
              tr
                th Наименование
                th Цена
            tbody
              tr
                td Увеличение имплантами
                td от 220 000
              tr
                td Уменьшение груди
                td от 250 000
              tr
                td Подтяжка груди
                td от 220 000
              tr
                td Подтяжка с увеличением
                td от 300 000
              tr
                td Замена имплантов
                td от 200 000
              tr
                td Удаление имплантов
                td от 180 000
              tr
                td Липофилинг груди
                td от 250 000
              tr
                td Коррекция гинекомастии
                td от 150 000

      .prices__item
        span.prices__subtitle Пластика живота
        .table-wrapper
          table.prices-table
            thead
              tr
                th Наименование
                th Цена
            tbody
              tr
                td Абдоминопластика классическая
                td от 250 000
              tr
                td Миниабдоминопластика
                td от 180 000
              tr
                td Абдоминопластика с вертикальным рубцом
                td от 300 000
              tr
                td Торсопластика
                td от 550 000

      .prices__item
        span.prices__subtitle Пластика ягодиц
        .table-wrapper
          table.prices-table
            thead
              tr
                th Наименование
                th Цена
            tbody
              tr
                td Увеличение имплантами
                td от 250 000
              tr
                td Удаление имплантов
                td от 180 000
              tr
                td Липофилинг ягодиц
                td от 250 000

      .prices__item
        span.prices__subtitle Липоскульптура
        .table-wrapper
          table.prices-table
            thead
              tr
                th Наименование
                th Цена
            tbody
              tr
                td Полное липомоделирование тела
                td от 350 000
              tr
                td Липосакция 1 зона ( 1 ладонь)
                td от 50 000
