footer.footer
  .footer__cont
    .container
      .footer__content
        span.footer__title Муртазали Гаджиев
        span.footer__txt Пластический хирург

  .footer-bottom
    .container
      .footer-social
        a.footer-social__link(href='#')
          include /../assets/icons/instagram.svg
        a.footer-social__link(href='#')
          include /../assets/icons/vk.svg
        a.footer-social__link(href='#')
          include /../assets/icons/telegram.svg
        a.footer-social__link(href='#')
          include /../assets/icons/whatsapp.svg
