extends template

block content
  //- Header block ('.header')
  include /common/header/block

  //- Burger-menu block ('.burger-menu')
  include /common/burger-menu/block


  - const page = 'index'

  main(class='content '+ page +'')
    //- Main block ('.main')
    include /main/block

    //- Prices block ('.prices')
    include /prices/block


  //- Footer block ('.footer')
  include /common/footer/block
