extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block

  //- Burger-menu block ('.burger-menu')
  include /common/blocks/burger-menu/block


  - const page = 'index'

  main(class='content '+ page +'')
    //- Main block ('.main')
    include /main/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
